.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(173, 80, 80, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .header{
    grid-area: 1 / 1 / 1 / 5;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 5 5 auto;
  }